[include]
	path = ~/.gitconfig.private
[init]
	defaultBranch = main
#[commtit]
#	gpgsign = true
[core]
    autocrlf = input
    pager = delta
	excludesfile = /Users/col/.gitignore.global
[init]
	defaultBranch = main
[sequence]
	editor = interactive-rebase-tool
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
    required = true
[interactive]
    diffFilter = delta --color-only
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[delta]
    navigate = true
    dark = true
    line-numbers = true
[url "git@github.com:"]
    insteadOf = https://github.com/
[url "https://github.com/rust-lang/crates.io-index"]
    insteadOf = https://github.com/rust-lang/crates.io-index
[fetch]
	parallel = 0 # Automatically select a sensible value
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[blame]
	ignoreRevsFile = .git-blame-ignore-revs
